@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --marquee-height: 0px;
}

@layer base {
  * {
    @apply box-border m-0 p-0;
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased max-w-[100vw] overflow-x-hidden;
  }
}

.Typewriter__wrapper {
  @apply md:text-6xl text-3xl text-blue-primary md:pl-4 pl-2 font-semibold
}

.embla__container {
  flex: 0 0 100%;
  min-width: 0;
}

@layer utilities {
  .safe-marquee-top {
    top: var(--navbar-height);
  }
}

/* Ensure main content area grows properly */
main {
  @apply flex-grow;
  min-height: calc(100vh - var(--marquee-height));
}